Library/ShaderCache/
Library/UnityAssemblies
.vs/MilkMan/v15/.suo
Assets/Standard Assets
Library/metadata/
Library/ScriptAssemblies
Temp/
Assets/TextMesh Pro/
/Assets/EffectExamples/
/.vs
/.vs/
/.vs/*
/Library/PlayerDataCache/
/obj/
/publish/
/UpgradeLog.htm
/Library/LastBuild.buildreport
*.apk
/.vs/MilkMan/v15/sqlite3/storage.ide
/Library/PackageCache/
/Library/StateCache/
*.log
*.au
Library/
/Library/EditorInstance.json
/.gradle
/*.ai
/Assets/Joystick Pack/*
/Assets/Samples/Input System/
